---
title: Le Wagon - Middleman (HOME)
---

<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <h3>
      Emma ERRANTI
    </h3>
    <p>
      SHIATSU Orthez
    </p>
    <p class="about">
      <%= link_to "Qu'est-ce que le Shiastu?", "about.html" %>
    </p>
  </div>
</div>
